/* ===== стили страницы "Специальности" ===== */

/* Импорты общих CSS-файлов */
@import url(./common/fonts.css);
@import url(./common/reset.css);
@import url(./common/variables.css);
@import url(./common/header.css);
@import url(./common/footer.css);

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

/* .hero {
  display: flex;
}

.hero-laptop {
  position: relative;
  left: 10%;
  z-index: 10;
}

.hero-title--svg {
  max-width: 100vw;
  width: 100vw;
  height: auto;
  display: block;
} */

.hero {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* т.к. ноутбук выйдет из потока */
  padding-top: 5rem;
}

/* Ноутбук — поверх, не влияет на flex */
.hero-laptop {
  position: absolute;
  left: 0;
  top: 10%;

  width: clamp(92.5px, 25.6944vw, 375px);
  height: auto;

  z-index: 2; /* сверху */
  pointer-events: none; /* чтобы не мешал кликам */
}

/* Обёртка для SVG + H1 */
.hero-title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 90%;
  margin-left: auto; /* поджимает блок вправо */
  position: relative;
  z-index: 1;
}

/* SVG заголовок */
.hero-title--svg {
  width: 95%;
  height: auto;
  margin-bottom: 1.5rem;
}

/* H1 */
.hero-title--text {
  font-weight: 400;
  font-size: clamp(1.2rem, 3.4722vw, 4rem);
  line-height: 1.2;
  max-width: 80%;
  text-align: right;
}

.programs-section {
  margin-top: 100px;
  position: relative;
}

.welding-mask__img {
  position: absolute;
  right: calc(0% - 20px);
  top: -30%;
  z-index: 10;
  width: clamp(60px, 16.5972vw, 318px);
}

.programs-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: clamp(306px, 85vw, 1632px);
  height: clamp(154px, 43.0555vw, 826px);
  background: url("../assets/icons/programs-card.svg");
  background-size: cover; /* растягивает по всему блоку */
  background-position: center; /* центрирует фон */
  background-repeat: no-repeat; /* отключает повторение */
}

@media screen and (max-width: 575px) {
  .hero-laptop {
    top: 30%;
  }
}

@media (max-width: 1920px) {
}
