/* ===== Стили футера ===== */

.footer {
  background: var(--color-secondary);
  color: var(--color-light);
  margin-top: 160px;
  padding-top: 60px;
  clip-path: polygon(
    0 0,
    100% 40px,
    100% 100%,
    0 100%
  ); /* скос верхней грани вправо */
}

.footer-content {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 40px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}

.footer-logo {
  width: 200px;
  height: auto;
}

/* Блок социальных сетей */
.footer-social-list,
.license-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.social-links,
.license-list-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Ссылки социальных сетей */
.footer-link {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-light);
  text-decoration: none;
  font-size: 16px;
  transition: opacity 0.2s ease;
}

.footer-link:hover {
  opacity: 0.7;
}

.social-icon {
  width: 22px;
  height: 22px;
}

/* Нижняя подпись */
.footer-postscript {
  margin-top: 40px;
  text-align: center;
  padding: 20px 0;
}

.footer-postscript--text {
  font-size: 14px;
}

/* Адаптив для мобильных */
@media (max-width: 900px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-social-list,
  .license-list {
    align-items: center;
  }
}
