/* ===== Стили хедера ===== */

/* ОБЩИЕ СТИЛИ ХЕДЕРА */

.header {
  width: 100%;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav {
  margin: 0 auto;
  padding: 18px 40px;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

/* ===== ЛОГОТИП ===== */
.nav__logo {
  flex-shrink: 0;
}

.nav__logo img {
  height: 164px;
  display: block;
  user-select: none;
}

/* ===== МЕНЮ ===== */
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
}

.nav__list li {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav__list a {
  font-size: 1.5625rem;
  text-decoration: none;
  font-weight: 400;
  white-space: nowrap;
  padding: 4px 6px;
  transition: 0.25s ease;
  display: flex;
  align-items: center; /* вертикальное центрирование */
  justify-content: center; /* горизонтальное центрирование */
  text-align: center; /* на случай переноса строки */

}

/* Активная ссылка */
.nav__list a.active {
  position: relative;
}

/* Прямоугольник над активной ссылкой */
.nav__list a.current {
  position: relative;
  z-index: 2; /* текст выше прямоугольника */
}

.nav__list a.current::after {
  content: "";
  position: absolute;
  left: -10px; /* сдвиг влево */
  width: 80%; /* шире текста */
  height: 60%; /* высота прямоугольника */
  background: var(--color-accent);
  z-index: -1; /* прямоугольник за текстом */
  pointer-events: none; /* чтоб не мешал кликам */
}

/* Hover эффект */
.nav__list a:hover {
  color: var(--color-accent);
}

/* ===== БУРГЕР ===== */
.nav__burger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.nav__burger span {
  display: block;
  height: 3px;
  background: #000;
  border-radius: 2px;
}

/* ===== Мобильное меню ===== */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: white;
  z-index: 1000;
  padding-top: 80px;
  overflow-y: auto;
  text-align: center;
}

.mobile-menu.show {
  display: block;
}

/* Ссылки меню */
.mobile-menu__list li {
  margin: 25px 0;
}

.mobile-menu__list a {
  font-size: 1.75rem;
  color: var(--color-dark);
  text-decoration: none;
  display: inline-block;
  transition: 0.25s ease;
}

.mobile-menu__list a:hover {
  color: var(--color-accent);
}

/* Кнопка закрытия меню */
.mobile-menu__close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 3.875rem;
  background: none;
  border: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .nav__burger {
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;
  }
  .nav__burger span {
    width: 25px;
    height: 3px;
    background: var(--color-dark);
    display: block;
  }
  .nav__list--left,
  .nav__list--right {
    display: none;
  }
}
