/* ===== CSS-переменные ===== */

:root {
  /* Тут можно цвета задать */
  --color-primary: #ff5500;
  --color-secondary: ;
  --color-accent: #c2e6e1;
  --color-dark: #1a1a1a;
  --color-light: #ffffff;

  /* Тут шрифты */
  --font-main: "PP Gosha Sans", sans-serif;

  /* Ещё что-то... */
}
