/* ===== CSS-переменные ===== */

:root {
  /* Тут можно цвета задать */
  --color-primary: /* Вместо этого вставишь */ ;
  --color-secondary: /* Вместо этого вставишь */ ;
  --color-dark: /* Вместо этого вставишь */ ;
  --color-light: /* Вместо этого вставишь */ ;

  /* Тут шрифты */
  --font-main: /* Вместо этого вставишь */ , sans-serif;
  --font-accent: /* Вместо этого вставишь */ , sans-serif;

  /* Ещё что-то... */
}
