/* ===== CSS-переменные ===== */

:root {
  /* цвета */
  --color-primary: #ff5500;
  --color-secondary: #694aff;
  --color-accent: #c2e6e1;
  --color-dark: #1a1a1a;
  --color-light: #f0e7d6;

  /* Тут шрифты */
  --font-main: "PP Gosha Sans", sans-serif;
  --font-accent: "Kholodos", sans-serif;

  /* Ещё что-то... */
  --transition-speed: 0.2s;
}
